<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlockBT Landing Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'landing/style.css' %}">
</head>

<body>

    <div id="header">BBT</div>

    <h1>Welcome to BlockBT!</h1>
    <p>To pass or not to pass, the final project. This is the question!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod, nisl eget consectetur interdum, nunc nisi
        aliquam nunc, sit amet consectetur nisi nisl id nunc. Suspendisse nec justo eu leo tincidunt tincidunt.</p>

    <footer>
        <p>© Long time ago - The end of times BlockBT Project. All rights reserved (Probably) (Do not try us).</p>
    </footer>

</body>

</html>
